[Desktop Entry]
Version=1.0
Name=Gmail
Comment=Gmail
Exec=omarchy-launch-webapp https://mail.google.com/mail/u/1/#inbox
Terminal=false
Type=Application
Icon=/home/rdh/.local/share/applications/icons/Gmail.png
StartupNotify=true
