[Desktop Entry]
Version=1.0
Name=Outlook
Comment=Outlook
Exec=omarchy-launch-webapp https://outlook.office.com/mail/0/
Terminal=false
Type=Application
Icon=/home/rdh/.local/share/applications/icons/Outlook.png
StartupNotify=true
